@charset "UTF-8";

*{
	margin: 0px;
    padding: 0px;
    border: 0;
    font-family: "돋움",dotum, Verdana, Arial, Helvetica;
    font-size: 12px;
    color: #666;
    line-height: 15px;
}

html, body{	
	height:100%;
	margin:0;
	padding:0;
	overflow-y: hidden;
}

li{
	list-style:none;
	display:list-item;
}

a{
	text-decoration:none;
	border:0;
	outline:none;
}

img{
	border:none;
}

#test_ssabu{
	width:100%;
	height:100%;
	min-height: 100%;
	margin:0;
	padding:0;
	background-color:#f2f2f2;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

#header{
	width: 100%;
	height:30px;
	background-color:#454545;
	z-index:99;
	position:absolute;
	left:0;
}

.topmenu {
	width:1218px; 
	height:30px; 
	margin:0 auto; 
	border-left:1px solid #999; 
	border-right:1px solid #999;
	}
	
.co_name{
	float:left;
	width:330px; 
	line-height:30px;
	color:#FFF;
	font-size:11px;
	padding-left:30px;
	}
	
.reload{
	float:left;
	}
	
.userInfo { 
	height:30px; 
	line-height:30px; 
	width:350px; 
	padding-right:37px; 
	color:#FFF; 
	text-align:right; 
	font-size:11px; 
	float:left;
	}
	
.topmenuList {
	float:right;
	}
	
.topmenuList li, .reload li {
	width:109px; 
	height:22px; 
	padding-top:8px; 
	text-align:center; 
	border-left:1px solid #999; 
	float:left;
	}
	
.reload li{
	border-right:1px solid #999;
	}

.logo{
	width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}

#container{
	width: 1175px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 18px 0 25px;
    background: #FFF;
    overflow: hidden;	
}

.contents{
	width: 1175px;
    padding-bottom: 20px;
    float: left;
}

/* leftArea */

.leftArea{
	width: 802px;
    margin-right: 25px;
    float: left;
}


.MenuTt{
	width: 244px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background: url(../Images/Common/titleBg.jpg) repeat-x;
    border: 1px solid #50222d;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
}

.accMenu{
	width: 800px;
    height: 540px;
    background: #ececec;
    border: 1px solid #d8d8d8;
}

.accMenu li{
	height: 301px;
    float: left;
    border-right: 1px solid #d4d4d4;
}

.accSubMenu{
	width: 266px;
    padding-top: 11px;
}

.accSubMenu li {
    width: 244px;
    height: 31px;
    padding-left: 22px;
}
.bd_0{
	border: 0!important;
}


.fontSt01{
	font-size: 14px;
    font-weight: bold;
    color: #7a393f;
}

.textAreaSt01{
	margin: 0px;
	width: 778px;
	height: 90px;
}

/* rightArea */

.rightArea{
	width: 348px;
    float: left;
}

.qna{
	width: 348px;
    margin-bottom: 31px;
    float: left;
}

.boardTt{
	width: 348px;
    margin-bottom: 7px;
    float: left;
}

.flo_l{
	float: left;
}

.flo_r{
	float: right;
}

.tableSt01{
	width: 100%;
    border-collapse: collapse;
    border-top: 3px solid #d2c2b2;
    float: left;
}

.blind{
	overflow: hidden;
    position: absolute;
    top: -1000em;
    left: -9999em;
    visibility: hidden;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    background: none;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
}
.right_foot li{
	float:left;
	padding-right:17px;
	top:10px
}






















