@charset "UTF-8";

#test_ssabu{
	
}

#header{
	
}

.co_name{
	
}

.reload{
	
}

.userInfo{
	
}

.topmenuList{
	
}

#container{
	
}

.contents{
	
}

/* leftArea */

.leftArea{
	
}

.accMenu{
	
}

.MenuTt{
	
}

.bd_0{
	
}

.accSubMenu{
	
}

.textAreaSt01{
	margin: 0px;
	width: 778px;
	height: 90px;
}

/* rightArea */

.rightArea{
	
}

